
 .wishlist >  img {
    max-width: 100%;
    vertical-align: middle;
    border-radius: 4px;
  }
  
  .wishlist >  a {
    text-decoration: none;
    color: #333333;
  }
  
  .wishlist > a:hover {
    color: #f58551;
  }
  
  .wishlist > button {
    background-color: #16cc9b;
    border: 2px solid #16cc9b;
    color: #ffffff;
    transition: all 0.25s linear;
    cursor: pointer;
  }
  
  .wishlist > button::after {
    position: relative;
    right: 0;
    content: " \276f";
    transition: all 0.15s linear;
  }
  
  .wishlist > button:hover {
    background-color: #f58551;
    border-color: #f58551;
  }
  
  .wishlist > button:hover::after {
    right: -5px;
  }
  
  .wishlist > button:focus {
    outline: none;
  }
  
  .wishlist > ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
  }
  
  .wishlist > input {
    transition: all 0.25s linear;
  }
  
  input[type="number"]::-webkit-inner-spin-button,
  .wishlist > input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
  }
  
  .wishlist > input {
    outline: none;
  }
  
  .wishlist > .container {
    width: 90%;
    margin: 0 auto;
    overflow: auto;
  }
  
  /* --- HEADER --- */
  .wishlist > header.container {
    margin-bottom: 1.5rem;
  }
  
  .wishlist > header .breadcrumb {
    color: #7d7d7d;
  }
  
  .wishlist > header .breadcrumb li {
    float: left;
    padding: 0 6px;
    height: 20px;
    line-height: 20px;
  }
  
  .wishlist > header .breadcrumb li:first-child {
    padding-left: 2px;
  }
  
  .wishlist > header .breadcrumb li:not(:last-child)::after {
    content: " \276f";
    padding-left: 8px;
  }
  
  .wishlist > header .count {
    float: right;
    color: #333333;
    height: 20px;
    line-height: 20px;
  }
  
  /* --- PRODUCT LIST --- */
  .wishlist > .products {
    border-top: 1px solid #ddd;
  }
  
  .wishlist > .products > li {
    padding: 1rem 0;
    border-bottom: 1px solid #ddd;
  }
  
  .wishlist > .row {
    position: relative;
    overflow: auto;
    width: 100%;
  }
  
  .col,
  .quantity,
  .wishlist > .remove {
    float: left;
  }
  
  .wishlist > .col.left {
    width: 70%;
  }
  
  .wishlist > .col.right {
    width: 30%;
    position: absolute;
    right: 0;
    top: calc(50% - 30px);
  }
  
  .wishlist > .detail {
    padding: 0 0.5rem;
    line-height: 2.2rem;
  }
  
  .wishlist > .detail .name {
    font-size: 1.2rem;
  }
  
  .wishlist > .detail .description {
    color: #7d7d7d;
    font-size: 1rem;
  }
  
  .wishlist > .detail .price {
    font-size: 1.5rem;
  }
  
  .quantity,
  .wishlist > .remove {
    width: 50%;
    text-align: center;
  }
  
  .wishlist > .remove svg {
    width: 60px;
    height: 60px;
  }
  
  .wishlist > .quantity > input {
    display: inline-block;
    width: 60px;
    height: 60px;
    position: relative;
    left: calc(50% - 30px);
    background: #fff;
    border: 2px solid #ddd;
    color: #7f7f7f;
    text-align: center;
    font: 600 1.5rem Helvetica, Arial, sans-serif;
  }
  
  .quantity > input:hover,
  .wishlist > .quantity > input:focus {
    border-color: #f58551;
  }
  
  .wishlist > .close {
    fill: #7d7d7d;
    transition: color 150ms linear, background-color 150ms linear,
      fill 150ms linear, 150ms opacity linear;
    cursor: pointer;
  }
  
  .wishlist > .close:hover {
    fill: #f58551;
  }
  
  /* --- SUMMARY --- */
  .promotion,
  .summary,
  .wishlist > .checkout {
    float: left;
    width: 100%;
    margin-top: 1.5rem;
  }
  
  .wishlist > .promotion > label {
    float: left;
    width: 100%;
    margin-bottom: 1rem;
  }
  
  .wishlist > .promotion > input {
    float: left;
    width: 80%;
    font-size: 1rem;
    padding: 0.5rem 0 0.5rem 1.8rem;
    border: 2px solid #16cc9b;
    border-radius: 2rem 0 0 2rem;
  }
  
  .wishlist > .promotion:hover > input {
    border-color: #f58551;
  }
  
  .wishlist > .promotion > button {
    float: left;
    width: 20%;
    height: 2.4rem;
    border-radius: 0 2rem 2rem 0;
  }
  
  .wishlist > .promotion:hover > button {
    border-color: #f58551;
    background-color: #f58551;
  }
  
  .wishlist > .promotion > button::after {
    content: "\276f";
    font-size: 1rem;
  }
  
  .wishlist > .summary {
    font-size: 1.2rem;
    text-align: right;
  }
  
  .wishlist > .summary ul li {
    padding: 0.5rem 0;
  }
  
  .wishlist > .summary ul li span {
    display: inline-block;
    width: 30%;
  }
  
  .wishlist > .summary ul li.total {
    font-weight: bold;
  }
  
  .wishlist > .checkout {
    text-align: right;
  }
  
  .wishlist > .checkout > button {
    font-size: 1.2rem;
    padding: 0.8rem 2.8rem;
    border-radius: 1.5rem;
  }
  
  .wishlist > .empty-product {
    text-align: center;
  }
  
  .wishlist > .empty-product > button {
    font-size: 1.3rem;
    padding: 10px 30px;
    border-radius: 5px;
  }
  
  /* --- SMALL SCREEN --- */
 @media all and (max-width: 599px) {
    .wishlist > .thumbnail img {
      display: none;
    }
  
    .wishlist > .quantity > input {
      width: 40px;
      height: 40px;
      left: calc(50% - 20px);
    }
  
    .wishlist > .remove svg {
      width: 40px;
      height: 40px;
    }
  }
  
  /* --- MEDIUM & LARGE SCREEN --- */
 @media all and (min-width: 600px) {
    .wishlist > html {
      font-size: 14px;
    }
  
    .wishlist > .container {
      width: 75%;
      max-width: 960px;
    }
  
    .thumbnail,
    .wishlist > .detail {
      float: left;
    }
  
    .wishlist > .thumbnail {
      width: 35%;
    }
  
    .wishlist > .detail {
      width: 65%;
    }
  
    .promotion,
    .wishlist > .summary {
      width: 50%;
    }
  
    .wishlist > .checkout {
      width: 100%;
    }
  
    .checkout,
    .wishlist > .summary {
      text-align: right;
    }
  }
  
  /* --- LARGE SCREEN --- */
 @media all and (min-width: 992px) {
    .wishlist > html {
      font-size: 16px;
    }
  }
  